{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",
  "Parameters": {
    "UsersRoomsTableName": {
      "Type": "String",
      "Default": "UsersRoomsTable",
      "Description": "The name of the new DynamoDB table to store users and room info (many-to-many)",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_]+$"
    },
    "RoomsConnectionsTableName": {
      "Type": "String",
      "Default": "RoomsConnectionsTable",
      "Description": "The name of the new DynamoDB to store webosocket IDs connected for each room",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_]+$"
    },
    "MessageTableName": {
      "Type": "String",
      "Default": "MessageTable",
      "Description": "The name of the new DynamoDB table to store messages",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_]+$"
    },
    "UsersIndexName": {
      "Type": "String",
      "Default": "UsersId-index",
      "Description": "Index for UsersRoomsTable to retrieve all users",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_-]+$"
    },
    "ConnectionsIndexName": {
      "Type": "String",
      "Default": "ConnectionsId-index",
      "Description": "Index for ConnectionsId to retrieve all connections from given websocket (and delete them)",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_-]+$"
    }
  },
  "Resources": {
    "UsersRoomsTable": {
      "Type": "AWS::DynamoDB::Table",
      "Properties": {
            "TableName": {
                "Ref": "UsersRoomsTableName"
            },
            "GlobalSecondaryIndexes": [
                {
                    "IndexName": {
                        "Ref": "UsersIndexName"
                    },
                    "KeySchema": [
                        {
                            "AttributeName": "UserId",
                            "KeyType": "HASH"
                        }
                    ],
                    "Projection": {
                        "ProjectionType": "KEYS_ONLY"
                    }
                }
            ],
            "AttributeDefinitions": [
                {
                    "AttributeName": "NodeId",
                    "AttributeType": "S"
                },
                {
                    "AttributeName": "TargetId",
                    "AttributeType": "S"
                },
                {
                    "AttributeName": "UserId",
                    "AttributeType": "S"
                }
            ],
            "KeySchema": [
                {
                "AttributeName": "NodeId",
                "KeyType": "HASH"
                },
                {
                "AttributeName": "TargetId",
                "KeyType": "RANGE"
                }
            ],
            "BillingMode": "PAY_PER_REQUEST"
            }
     },
    "RoomsConnectionsTable": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
            "TableName": {
              "Ref": "RoomsConnectionsTableName"
            },
            "GlobalSecondaryIndexes": [
                {
                    "IndexName": {
                        "Ref": "ConnectionsIndexName"
                    },
                    "KeySchema": [
                        {
                            "AttributeName": "ConnectionId",
                            "KeyType": "HASH"
                        }
                    ],
                    "Projection": {
                        "ProjectionType": "KEYS_ONLY"
                    }
                }
            ],
            "AttributeDefinitions": [
              {
                "AttributeName": "ConnectionId",
                "AttributeType": "S"
              },
              {
                "AttributeName": "RoomId",
                "AttributeType": "S"
              }
            ],
            "KeySchema": [
              {
                "AttributeName": "RoomId",
                "KeyType": "HASH"
              },
              {
                "AttributeName": "ConnectionId",
                "KeyType": "RANGE"
              }
            ],
            "BillingMode": "PAY_PER_REQUEST"
        }
    },
    "MessageRoomsTable": {
      "Type": "AWS::DynamoDB::Table",
      "Properties": {
            "TableName": {
                "Ref": "MessageTableName"
            },
            "AttributeDefinitions": [
                {
                    "AttributeName": "RoomId",
                    "AttributeType": "S"
                },
                {
                    "AttributeName": "Date",
                    "AttributeType": "S"
                }
            ],
            "KeySchema": [
                {
                "AttributeName": "RoomId",
                "KeyType": "HASH"
                },
                {
                "AttributeName": "Date",
                "KeyType": "RANGE"
                }
            ],
            "BillingMode": "PAY_PER_REQUEST"
            }
     },
    "OnConnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::OnConnectHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "MESSAGES_TABLE_NAME": {
              "Ref": "MessageTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "OnDisconnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::OnDisconnectHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "SendMessageFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::SendMessageHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          },
          {
            "Statement": {
              "Effect": "Allow",
              "Action": "execute-api:ManageConnections",
              "Resource": "arn:aws:execute-api:*:*:*/@connections/*"
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "HelloFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::HelloHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "ByeFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::ByeHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "JoinFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::JoinHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "LoginFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::LoginHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "AddRoomFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "AWSServerless1::AWSServerless1.Functions::AddRoomHandler",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "UsersRoomsTable"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "RoomsConnectionsTable"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "USERS_ROOMS_TABLE_NAME": {
              "Ref": "UsersRoomsTableName"
            },
            "ROOMS_CONNECTIONS_TABLE_NAME": {
              "Ref": "RoomsConnectionsTableName"
            },
            "USERS_INDEX_NAME": {
              "Ref": "UsersIndexName"
            },
            "CONNECTIONS_INDEX_NAME": {
              "Ref": "ConnectionsIndexName"
            }
          }
        }
      }
    },
    "SimpleChatWebSocketApi": {
      "Type": "AWS::ApiGatewayV2::Api",
      "Properties": {
        "Name": "SimpleChatWebSocket2",
        "ProtocolType": "WEBSOCKET",
        "RouteSelectionExpression": "$request.body.message"
      }
    },
    "ConnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "$connect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "ConnectInteg"
              }
            ]
          ]
        }
      }
    },
    "ConnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnConnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "DisconnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "$disconnect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "DisconnectInteg"
              }
            ]
          ]
        }
      }
    },
    "DisconnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnDisconnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "SendMessageRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "sendmessage",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "SendMessageInteg"
              }
            ]
          ]
        }
      }
    },
    "SendMessageInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "SendMessageFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "JoinRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "join",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "JoinInteg"
              }
            ]
          ]
        }
      }
    },
    "JoinInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "JoinFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "JoinResponseInteg": {
        "Type":"AWS::ApiGatewayV2::IntegrationResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "IntegrationId": {
                "Ref": "JoinInteg"
            },
            "IntegrationResponseKey": "$default"
        }
    },
    "JoinResponseRoute": {
        "Type":"AWS::ApiGatewayV2::RouteResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "RouteId": {
                "Ref": "JoinRoute"
            },
            "RouteResponseKey": "$default"
        }
    },
    "LoginRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "login",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "LoginInteg"
              }
            ]
          ]
        }
      }
    },
    "LoginInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "LoginFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "LoginResponseInteg": {
        "Type":"AWS::ApiGatewayV2::IntegrationResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "IntegrationId": {
                "Ref": "LoginInteg"
            },
            "IntegrationResponseKey": "$default"
        }
    },
    "LoginResponseRoute": {
        "Type":"AWS::ApiGatewayV2::RouteResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "RouteId": {
                "Ref": "LoginRoute"
            },
            "RouteResponseKey": "$default"
        }
    },
    "AddRoomRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "addroom",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "AddRoomInteg"
              }
            ]
          ]
        }
      }
    },
    "AddRoomInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "AddRoomFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "AddRoomResponseInteg": {
        "Type":"AWS::ApiGatewayV2::IntegrationResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "IntegrationId": {
                "Ref": "AddRoomInteg"
            },
            "IntegrationResponseKey": "$default"
        }
    },
    "AddRoomResponseRoute": {
        "Type":"AWS::ApiGatewayV2::RouteResponse",
        "Properties": {
            "ApiId": {
                "Ref": "SimpleChatWebSocketApi"
            },
            "RouteId": {
                "Ref": "AddRoomRoute"
            },
            "RouteResponseKey": "$default"
        }
    },
    "HelloRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "hello",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "HelloInteg"
              }
            ]
          ]
        }
      }
    },
    "HelloInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "HelloFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "ByeRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "RouteKey": "bye",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "ByeInteg"
              }
            ]
          ]
        }
      }
    },
    "ByeInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "ByeFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "Deployment": {
      "Type": "AWS::ApiGatewayV2::Deployment",
      "DependsOn": [
        "ConnectRoute",
        "SendMessageRoute",
        "DisconnectRoute",
        "HelloRoute",
        "ByeRoute",
        "JoinRoute",
        "LoginRoute",
        "AddRoomRoute"
      ],
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        }
      }
    },
    "Stage": {
      "Type": "AWS::ApiGatewayV2::Stage",
      "Properties": {
        "ApiId": {
          "Ref": "SimpleChatWebSocketApi"
        },
        "DeploymentId": {
          "Ref": "Deployment"
        },
        "StageName": "Prod"
      }
    },
    "OnConnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnConnectFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnConnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "OnDisconnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnDisconnectFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnDisconnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "SendMessagePermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "SendMessageFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "SendMessageFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "HelloPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "HelloFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "HelloFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "ByePermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "ByeFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "ByeFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "JoinPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "JoinFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "JoinFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "LoginPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "LoginFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "LoginFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "AddRoomPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "AddRoomFunction",
        "SimpleChatWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "AddRoomFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    }
  },
  "Outputs": {
    "WebSocketURI": {
      "Value": {
        "Fn::Join": [
          "",
          [
            "wss://",
            {
              "Ref": "SimpleChatWebSocketApi"
            },
            ".execute-api.",
            {
              "Ref": "AWS::Region"
            },
            ".amazonaws.com/",
            {
              "Ref": "Stage"
            }
          ]
        ]
      },
      "Description": "The WSS Protocol URI to connect to"
    }
  }
}